@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.logo {
    background-image: url('../img/cover_header.jpg');
    background-size: cover;
    background-position: center;
}

.logo img {
    width: 100px;
    margin: 5px 0 5px 5px;
}

.introducao {
    position: relative;
}

/* Imagem e legenda da Seção Introdução */
.picture-capa {
    float: right; /* Faz a imagem flutuar à direita do texto */
    margin-left: 20px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 300px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.picture-capa img {
    width: 100%; /* Garante que a imagem ocupe a largura máxima definida pelo contêiner */
    height: auto;
}

.introducao hr {
    clear: both;
}

.picture-capa figcaption {
    font-size: 0.9em; /* Tamanho da legenda */
    color: #555; /* Cor da legenda */
    margin: -2px 0 15px 0; /* Espaçamento entre a imagem e a legenda */
    text-align: center; /* Centraliza a legenda abaixo da imagem */
}

/* Configuração do Trailer */
.trailer {
    text-align: center;
    font-size: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
}

.trailer-legenda {
    text-align: center;
    padding: 0;
    margin: -10px 0 15px 0;
}

/* Imagens da Seção de Jogabilidade */
.picture-gameplay {
    float: right; /* Faz a imagem flutuar à direita do texto */
    margin-left: 20px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 300px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.picture-gameplay img {
    width: 100%; /* Garante que a imagem ocupe a largura máxima definida pelo contêiner */
    height: auto;
    padding-right: 5px;
}

.picture-gameplay:nth-of-type(2) {
    float: left; /* Faz a imagem flutuar à direita do texto */
    margin: 0 15px 0 28px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 300px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Imagem da Seção de Personagens */
.picture-personagens img {
    float: left; /* Faz a imagem flutuar à esquerda do texto */
    padding-left: 30px;
    margin-right: 15px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 400px; /* Mantém a proporção da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Imagens da seção de itens */
.picture-itens {
    float: right;/* Faz a imagem flutuar à direita do texto */ 
    margin: 0 0 10px 30px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 150px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.picture-itens img {
    width: 100%; /* Garante que a imagem ocupe a largura máxima definida pelo contêiner */
    height: auto;
}

ul .picture-itens {
    float: left; /* Faz a imagem flutuar à esquerda do texto */
    margin: 5px 30px 5px 30px; /* Adiciona espaço entre a imagem e o texto à esquerda */
    max-width: 150px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Seção de imagens do mundo */
.picture-mundo {
    display: flex;
    justify-content: space-evenly;
}

.picture-mundo picture img {
    max-height: 200px;
    margin-bottom: 10px;
}

h1 {
    font-family: "Merriweather", serif; /* Define a fonte */
    font-weight: 900; /* Define o peso da fonte como negrito */
    font-style: normal; /* Define o estilo da fonte como normal (não itálico) */
    margin: 20px 0 20px 0; /* Define a margem superior e inferior */
    position: relative; /* Permite o posicionamento relativo do elemento, se necessário */
    color: rgb(0, 0, 0); /* Cor da fonte */
    text-shadow: /* Contorno branco */
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.title {
    background-image: url('../img/z_oot/banner_oot.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra todo o espaço */
    background-position: center; /* Centraliza a imagem */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
    margin-top: 10px; /* Remove a margem padrão */
    font-size: 2em; /* Ajuste o tamanho da fonte conforme necessário */
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 8px 30px;
    text-align: justify;
}

ul {
    list-style: none;
    padding-left: 35px;
}

.main>ul>li {
    list-style: square;
    margin-left: 30px;
}

.main.main {
    padding-bottom: 50px;
}

a {
    color: blue;
    text-decoration: none;
}

.bar {
    background-color: #f9f9fb;
    padding: 15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    display: flex;
    flex-direction: column;
    /* Alinhamento dos itens em coluna */
    justify-content: center;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    height: 100px;
}

.footer p {
    text-align: center;
    font: 700 24px 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    color: #efefef;
}

.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
    margin-top: 20px;
}

.sidebar {
    border-right: solid 1px #cdcdcd;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anchors>ul,
.sidebar>ul {
    padding-left: 0;
    font: normal 14px "Poppins", sans-serif;
}

.anchors>ul li,
.sidebar>ul li {
    padding: 0 5px 10px 0;
}

figure {
    text-align: center;
}

.footer {
    background-image: url('../img/cover_header.jpg');
    background-size: cover;
    background-position: center;
}